<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/favicon.ico"/>
    <meta name="viewport" content="width=device-width">
    <title>{{ .PageTitle }}</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body class="watch edit">
    <h1>{{ .PageTitle }}: {{ .Name }}</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
    {{ if .Error }}
    <p class="error-message">{{ .Error }}</p>
    {{ end }}
    <form action="{{.SubmitURL}}" method="post">
        <div class="item">
            <p class="lab">Address:</p>
            <span class="address">http://domain.sibo.io/watch/<input class="list-ID" placeholder="(optional)" name="ID" value="{{ .WatcherID }}"></input></span>
        </div>
        <div class="item">
            <p class="lab">Name:</p>
            <input name="name" placeholder="list name(optinal)" value="{{ .Name }}" />
        </div>
        <div class="item">
            <p class="lab">Patterns, one regex pattern each line:</p>
            <textarea cols="30" rows="20" name="patterns" placeholder="Example:qq\d\d(required)">{{ .Pattern }}</textarea>
        </div>
        <button type="submit">{{ .Button }}</button>
    </form>
</body>
</html>
