<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/favicon.ico"/>
    <meta name="viewport" content="width=device-width">
    <title>Domains</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body class="watch list">
    <h1>Watch list: {{ .Name }}</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/watch/edit/{{ .WatcherID }}">Edit</a>
    </nav>
    <div class="home">
        <div>
            {{ range .Domains }}
                <h3>{{ .Keyword }}</h3>
            <div>
                <ul class="domains">
                    {{ range .Domains }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
