@color-KOHBAI: #E16B8C;
@color-TSUYUKUSA: #2EA9DF;
@color-RO: #0C0C0C;
@color-KUROTSURUBAMI: #0B1013;
@color-WAKATAKE: #5DAC81;
@color-SUNEZUMI: #787D7B;
@color-SHIRONERI: #FCFAF2;
@color-GOFUN: #FFFFFB;

html, body {
    font-family: "Microsoft Yahei", Arial,"Helvetica Neue",Helvetica,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    background: @color-GOFUN;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Bright",Georgia,TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
}

pre, code {
    font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",Consolas,"Lucida Console",monospace;
}

nav {
    .add-post {
        color: @color-KOHBAI;
    }
}

.home {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-right: 5px;
            line-height: 1.6em;
            display: inline-block;
            font-size: 12px;
            font-family: "Monaco", "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        }
    }
}
